 * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	outline: none;
}

body{
    
    background: #1D2F3D;

    
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: #FFCD48;
    position: sticky;
    top: 0;

}


.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.navbar img {
    width: 70px;
    height: 60px;
    border: 0px;
    margin: 0px; 
    padding: 0;
    float: left;
    
    
}

.texto{

    width: 70%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;


}


    .Boton{
        width: 10%;
        height: 30px;
        font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
        border: 0px;
        

    }

    .button :hover{
        color: aqua;

    }

    

    .comentario{
       
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
        padding: 0;
        margin: 0;
    }

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: 120vh;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

/* * ============================== */
/* * ============ CLASIFICADOR ========== */
/* * ============================== */


.aportacion{
    padding: 20px;
}
p {
    color: white;
    font-size: 140%;
    line-height: 155%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
    font: arial;
}

h3{
    font-size: 175;
    color: aqua;
    line-height: 155%;
    font-weight: 500%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;

}

a {
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;

}
h1 {
    color: aqua;
    font-size: 175;
    line-height: 155%;
    font-weight: 500%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

h2{
    color: aqua;
    font-size: 175;
    line-height: 155%;
    font-weight: 500%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 4-px;
}

#wrapper {

    max-width: 1100px;
    margin: 0 auto;
 

}


.uno-tercero{
    width: 31.5%;
    float: left;
    padding: 8px;
    text-align: center;
}


.iconos-wraper{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-color: aqua;
    border-radius: 125px;
    text-align: center;
    margin-top: 3%
    
}

.iconos-wraper i {
    text-align: center;
    color: wheat;
    font-size: 420%;
    padding: 20%;

}



.left-col{
    float: left;
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding: 1%;
    text-align: justify;

}

.sidebar img{
  width: 25%;
  height: auto;
    margin: 0 auto;
    float: right;
    padding: 1%;
    
}

.Servicios-especiales{
    width: 29%;
    float: left;
    margin: 2% 2%;
}


.claerfix-padding {
    clear: both;
    padding: 1%;

}


/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
.navbar2 {
	background: #FFCD48;
    position: sticky;
    bottom: 0;

}

.navbar2 a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar2 a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor2 {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}


/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 100%;
	}

	main .contenedor {
		flex-direction: column;
	}
    
    h1 {
        color: aqua;
        font-size: 100;
        line-height: 80%;
        font-weight: 150%;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        }

        h2{
            color: aqua;
        font-size: 80;
        line-height: 80%;
        font-weight: 150%;
        text-align: center;
        text-transform: uppercase;
        padding: 2px;
        }

        h3 {
            color: aqua;
        font-size: 10px;
        line-height: 80%;
        font-weight: 150%;
        text-align: center;
        text-transform: uppercase;
        padding: 2px;
        }

        p{
            color: white;
            font-size: 11px;
            line-height: 100%;
            padding: 1%;
            text-indent: 1%;
            text-align: justify;
            font: arial;
        
            }

    .left-col{
    float: left;
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding: 1%;
    text-align: justify;
    }

    .uno-tercero{
    width: 31.5%;
    float: left;
    padding: 8px;
    text-align: center;
    }

    .navbar img {
        display: none;
        
    }
    
 
    .navbar2 .contenedor2 {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar2 a {
		width: auto;
		flex: 1;
	}
        
    

}

   


